<html>
    <head>
        <title>EJS</title>
    </head>
    <body>
        <p>
            <%=a%>
        </p>
        <!--
            for (var i = 0; i < 5; i++ ){
                if ( i == 3) {
                    //h3 태그
                }else {
                    // h1 태그
                }
            }
        -->
       
        <!-- <% for (var i = 0; i < A.length; i++){ %>   한 줄마다 꺽쇠 열고 닫기
                <h1><%=list[i]%></h1>
                <% if ( i == 3 ) { %>
                    <h3>hi</h3>
                <% } else { %>
                    <h1>hi</h1>
                <% } %>
        <%  } %> -->
        <!-- h1 4번 나오고 h3 나오게 하겠다. -->
        <!-- 나의 생각에 헷갈리니까 일단 문법 다 쓰고 <% %>를 붙이는게 낫겠다. -->
        <% for ( var i = 0 ; i < A.length; i++ ) { %>
            <h1><%=A[i]%></h1>
        <% } %>
        <% var a = 'hello'; %>
        <p><%=a%></p>
        <!-- p태그 안에 헬로우 넣을거야. =을 넣어야 그 변수의 값을 가져와서 보여줌. -->
        <%- include('test2.ejs') %>
        <!-- 파일안에서 다른 파일을 불러와서 보여줄 수 있음.
        include가 중요한 이유 -> ex. nav, head, footer같은 반복되는 애들은 인클루드 쓰면 코드가 짧고 깔끔해져. -->
    </html>